{% extends '_base.twig' %} {% block title %}About{% endblock %} {% block content %}


<div class="container text-center mt-5" ; style="width:70% ; color:white;  border: 1px solid red; background-color: rgba(79, 78, 78, 0.21)">
    <!--this is first part-->
    <div class="stories" class="mb-5">
        <h1>About movie</h1>
        <div class="container text-left">
            <h2>Pulp Fiction</h2>
            <p> Directed by: Quentin Tarantino</p>
            <img class="tarantino" src="img/quentin-tarantino-9502086-1-402.jpg" alt="Quentin Tarantino">
            <p>Year: 1994</p>
            <p>Type: Feature</p>
            <p>Status: Finished</p>
            <p>Length: 154 min</p>
            <p>Metascore: 94</p>
            <p>Genre: Crime, Drama</p>
            <p> IMDB: <a href="http://www.imdb.com/tt0110912"> http://www.imdb.com/tt0110912</a></p>
            <img class="cover" src="img/Pulp-Fiction1.jpg" alt="Movie cover">
        </div>
        <div>
            <p>Pulp Fiction is a 1994 American black comedy neo-noir crime film written and directed by Quentin Tarantino, from
                a story by Tarantino and Roger Avary.[4] Directed in a highly stylized manner, Pulp Fiction connects the
                intersecting storylines of Los Angeles mobsters, fringe players, small-time criminals, and a mysterious briefcase.
                The film's title refers to the pulp magazines and hardboiled crime novels popular during the mid-20th century,
                known for their graphic violence and punchy dialogue.</p>
            <br>
            <p>The screenplay of Pulp Fiction was written in 1992 and 1993, and incorporated some scenes originally written
                by Avary for True Romance. Its plot, as in many of Tarantino's other works, is presented out of chronological
                order. The film is also self-referential from its opening moments, beginning with a title card that gives
                two dictionary definitions of "pulp". Considerable screen time is devoted to monologues and casual conversations
                with eclectic dialogue revealing each character's perspectives on several subjects, and the film features
                an ironic combination of humor and strong violence. Its script was reportedly turned down by Columbia TriStar
                as "too demented". Miramax co-chairman Harvey Weinstein was instantly enthralled with it, however, and the
                film became the first that Miramax fully financed.</p>
            <br>
            <p>Jules Winnfield and Vincent Vega are two hitmen out to retrieve a suitcase stolen from their employer, mob boss
                Marsellus Wallace. Wallace has also asked Vincent to take his wife Mia out a few days later when Wallace
                himself will be out of town. Butch Coolidge is an aging boxer who is paid by Wallace to lose his next fight.
                Honey Bunny and Pumpkin are a couple of young lovers and small time thieves who decide they need a change
                of venue. The lives of these seemingly unrelated people are woven together in a wildly entertaining and exhilarating
                motion picture adventure that both thrills and amuses.
            </p>
        </div>

    </div>
    <!--End of first part-->
    <!--this is second part -->
    <div style="border: 1px solid red" class="stories mb-5 pt-3 pb-3 mt-3">
        <h1>Stories</h1>
        <div class="container d-flex justify-content-between mt-4 d-md-flex flex-wrap justify-content-around">
            <div><img class="img-fluid" src="img/miawallace.png" alt="Story 1">
                <p>Story #1: Vincent Vega </p>
                <p>And Marsellus Wallace's Wife</p>
            </div>
            <div><img class="img-fluid" src="img/christopher-walken.jpg" alt="Story 2">
                <p>Story #2: The Gold Watch</p>
            </div>
            <div><img class="img-fluid" src="img/pulp-fiction_volleyball.jpeg" alt="Story 3">
                <p>Story #3: The Bonnie Situation</p>
            </div>
        </div>
        <a href="Actors.html">See Actors</a>
    </div>
    <!--This is end of the second part -->
    <!--start of the third part-->
    <div class="quotes">
        <h1>Famous Quotes</h1>
        <p>“That’s when you know you’ve found somebody special. When you can just shut the f*ck up for a minute and comfortably
            enjoy the silence.” -Mia</p>
        <p>“‘What’ ain’t no country I’ve ever heard of. They speak English in What?” –Jules</p>
        <p>“They call it a Royale with cheese.” –Vincent</p>
        <p>“I’m Winston Wolfe. I solve problems.” –The Wolf</p>
        <p>"It's a chopper, baby."-Butch</p>
        <p>"Say 'what' again. Say 'what' again, I dare you, I double dare you motherfucker, say what one more Goddamn time!"
            -Jules
        </p>
        <p>"What now? Let me tell you what now. I'ma call a coupla hard, pipe-hittin' niggers, who'll go to work on the homes
            here with a pair of pliers and a blow torch. You hear me talkin', hillbilly boy? I ain't through with you by
            a damn sight. I'ma get medieval on your ass" -Marcellus</p>
    </div>
</div>
<!--end od the third part-->
<!--bottom banner-->
<div class="container">
    <div class="row images ">
        <div class="col-lg-4 col-md-6 col-12"> <img src="img/PulpFictionWeb2.jpg" alt=""></div>
        <div class="col-lg-4 col-md-6 col-12"> <img src="img/tumblr_o125feGxHs1ulm7v6o1_1280.png" alt=""></div>
        <div class="col-lg-4 col-md-6 col-12"> <img src="img/pulp_fiction_butch.jpg" alt=""></div>
        <div class="col-lg-4 col-md-6 col-12"> <img src="img/pulpfiction00004.png" alt=""></div>
        <div class="col-lg-4 col-md-6 col-12"> <img src="img/Pulp-Fiction-pulp-fiction-13189861-1920-810.jpg" alt=""></div>
        <div class="col-lg-4 col-md-6 col-12"> <img src="img/maxresdefault.jpg" alt=""></div>
        <div class="col-lg-4 col-md-6 col-12"> <img src="img/maxresdefault (1).jpg" alt=""></div>
        <div class="col-lg-4 col-md-6 col-12"> <img src="img/maxresdefault (2).jpg" alt=""></div>
        <div class="col-lg-4 col-md-6 col-12"> <img src="img/LEDE.jpg" alt=""></div>
        <div class="col-lg-4 col-md-6 col-12"> <img src="img/maxresdefault (3).jpg" alt=""></div>
        <div class="col-lg-4 col-md-6 col-12"> <img src="img/orbit_quentin.jpg" alt=""></div>
        <div class="col-lg-4 col-md-6 col-12"> <img src="img/Pulp-Fiction.jpg" alt=""></div>
        <div class="col-lg-4 col-md-6 col-12"> <img src="img/pulp-fiction (1).jpg" alt=""></div>
        <div class="col-lg-4 col-md-6 col-12"> <img src="img/pulp-fiction-diner_612.jpg" alt=""></div>
        <div class="col-lg-4 col-md-6 col-12"> <img src="img/600px-Pulp14-1-.jpg" alt=""></div>
    </div>
</div>




{% endblock %}