{% extends '_base.twig' %} {% block title %}Awards{% endblock %} {% block content %}
<div class="container text-center" ; style="width:70% ; border: 1px solid red; background-color: rgba(79, 78, 78, 0.21)">
    <div class="awards">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1>Awards</h1>
                    <h3>Academy Awards, USA 1995</h3>
                    <h5>Won Oscar</h5>
                    <p> Best Writing, Screenplay Written Directly for the Screen Quentin Tarantino Roger Avary </p>
                    <br>
                    <h3>Golden Globes, USA 1995</h3>
                    <h5>Won Golden Globe </h5>
                    <p>Best Screenplay - Motion Picture Quentin Tarantino </p>
                    <br>
                    <h3>BAFTA Awards 1995</h3>
                    <p>Best Actor in a Supporting Role - Samuel L. Jackson
                        <br> Best Screenplay - Original Quentin Tarantino Roger Avary </p>
                    <br>
                    <h3>Academy of Science Fiction, Fantasy & Horror Films, USA 1995</h3>
                    <h5>Won Saturn Award</h5>
                    <p>Best Action/Adventure/Thriller Film</p>
                    <br>
                    <h3>Cannes Film Festival 1994</h3>
                    <h5>Won Artios</h5>
                    <p>Best Casting for Feature Film, Drama Ronnie Yeskel Gary M. Zuckerbrod </p>
                    <h3>Awards Circuit Community Awards 1994</h3>
                    <h5>Won ACCA</h5>
                    <p>Best Motion Picture: Lawrence Bender Best Director Quentin Tarantino
                        <br> Best Actor in a Supporting Role Samuel L. Jackson
                        <br> Best Original Screenplay Quentin Tarantino (screenplay/screen story) Avery Rogers (screen story)
                        <br> Best Film Editing Sally Menke
                        <br> Best Cast Ensemble John Travolta Samuel L. Jackson Uma Thurman Tim Roth Harvey Keitel Ving Rhames
                        Amanda Plummer Bruce Willis Eric Stoltz Rosanna Arquette </p>
                </div>


                <div class="col-6 mt-5">
                    <img src="img/Oscars-2016.jpg" alt="oscar-award">
                </div>
            </div>
        </div>
    </div>


    <div class="review">
        <h1>Reviews</h1>
        <p> "Whatever you call it, Pulp Fiction is indisputably great."</p>
        <h5>Peter Travers</h5>
            <h5>Rolling Stone</h5>
        <br>
        <p> "This movie boasts groundbreaking direction, cinematography, screenwriting, soundtrack, and extraordinary performances
            (particularly by Thurman, Travolta, and Jackson)."</p>
            <h5>Marjorie Kase</h5>
                <h5>Common Sense Media</h5>
        <br>
        <p>"Brilliantly written and unfathomably cool, this would make a good case for most quotable crime movie of all time."</p>
        <h5>Ian Freer</h5>
            <h5> Empire</h5>
        <br>
        <p>"[A] triumphant, cleverly disorienting journey through a demimonde that springs entirely from Mr. Tarantino's ripe
            imagination, a landscape of danger, shock, hilarity and vibrant local color. Nothing is predictable or familiar
            within this irresistibly bizarre world. You don't merely enter a theater to see Pulp Fiction: you go down a rabbit
            hole."
        </p>
        <h5> Janet Maslin</h5>
            <h5> the New York Times</h5>
        <br>
        <p>"Despite the drugs, the blood, the language, the grit, Pulp Fiction is fundamentally light-hearted. It's fluff."
        </p>
        <h5> Picks and Pans Review</h5>
            <h5>People </h5>
        <p>"Watching Pulp Fiction, you don't just get engrossed in what's happening on screen. You get intoxicated by it — high
            on the rediscovery of how pleasurable a movie can be."
        </p>
        <h5> Owen Gleiberman</h5>
            <h5>Entertainment Weekly</h5>
    </div>
</div>
{% endblock %}